
.relleno{
    height: 80px;
    width: 100%;
}

header{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    color: white;
}
.container-fondo-principal{
    position: absolute;
    background: linear-gradient(90deg, #22490ee7 0%, #000000cc 100%);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.fondo-principal{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.walnesy{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: contain;
    bottom: 0;
    box-sizing: border-box;
    padding-top: 20px;
}


/*TERMINADO*/
p{
    margin: 0;
    padding: 0;
}
.seccion-1{
    width: 100%;
    height: 25%;
    z-index: 5;
    
    img{
        height: 100%;
    }
}
.seccion-2{
    width: 100%;
    height: 30%;
    z-index: 5;
    display: flex;
    box-sizing: border-box;
    padding: 0 2%;
    font-weight: bold;
    justify-content: space-between;
    font-family: 'MiFuente';
    .p-walnesy{
        font-size: 10vw;
        font-style: italic;
    }
    .p-borquez{
        font-size: 10vw;
        text-align: end;
    }
    .p-vicepresidente{
        font-size: 4vw;
        text-align: end;
    }
    
    p{
        margin: 0;
        padding: 0;
    }
    img{
        height: 100%;
    }
    .seccion-2-1{
       display: flex;
       flex-direction: column;
    }
}

.seccion-3{
    display: flex;
    position: relative;
    width: 100%;
    height: 45%;
    z-index: 4;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 2%;
    color: #57D850;
    font-weight: bold;
    font-style: italic;
    font-family: 'MiFuente';
    .seccion-3-1{
        font-size: calc(3.5vw + 3.5vh);	
    }
    .seccion-3-2{
        box-sizing: border-box;
        bottom: 50px;
        right: 0;
        position: absolute;
        text-align: center;
        color: #fff;
        font-size: 3vw;
        padding: 0 2%;
        img{
            width: 50px;
            margin: 0 15px;
        }
        ul{
            list-style: none;
            display: flex;
            margin:20px 0;
            padding: 0;
            li{
                a{
                    display: flex;
                }
            }
        }
    }
    
}     