header{
    width: 95%;
    margin: auto;
    height: auto;

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
    }



}

img{
    width: 100%;
    border-radius: 10px;
}