
header{
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    main{
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    img{
        width: 100%;
    }
    .noticia{
        width: 45%;
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid #7c7c7c;
    }
    h2{
        color: #22490E;
    }
    h1{
        color: #22490E;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .fecha{
        color: #22490E;
    }
    .noticia:hover{
        box-shadow: 1px 1px 5px #000;
    }
}